In [295]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect, VARCHAR, DATE, INTEGER
engine = create_engine('postgresql://postgres:1234@localhost:5432/learning')
inspector = inspect(engine)
df = pd.DataFrame(pd.read_csv('data/07-01-2020.csv', index_col='Unnamed: 0'))


# set scrape to match models
scrape_to_models_headers = { 'Unnamed: 0.1': 'scrape_index',
                            'name': 'name',
                            'dob': 'dob',
                            'sex': 'sex',
                            'permanent_id': 'rni',
                            'booking_num': 'jail_id',
                            'state_id': 'state_id',
                            'commitment_date': 'commitment_date',
                            'scrape_datetime': 'scrape_date',
                            'bond_total': 'total_bond',
                            'held_without_bond': 'held_without_bond',
                            'complexion': 'complexion',
                            'race': 'race',
                            'ethnicity': 'ethnicity',
                            'marital_status': 'marital_status',
                            'citizen': 'citizenship',
                            'birth_country': 'birth_country',
                            'housing_section': 'housing_section',
                            'housing_block': 'housing_block',
                            'housing_cell': 'housing_cell',
                            'current_location': 'facility',
                            'next_court_date': 'next_court_date',
                            'case_num': 'case_num_id',
                            'active_case': 'active_case',
                            'offense_date': 'offense_date',
                            'charge_code': 'charge_code',
                            'charge_description': 'charge_name',
                            'charge_grade': 'grade',
                            'bond': 'bond_amt',
                            'bond_type': 'bond_type',
                            'bond_status': 'bond_status',
                            'bond_post_date': 'bond_post_date',
}

df.rename(columns=scrape_to_models_headers, inplace=True)

# INSERT ANY MISSING, BUT REQ: NON-NULL, VALUES
df.insert(loc=1, column='tca', value='NOT AVAILABLE')
df.insert(loc=1, column='charge_type', value='NOT AVAILABLE')
df.insert(loc=1, column='degree', value='NOT AVAILABLE')

# KNOWN FOREIGN KEY COLUMNS
# df.insert(loc=1, column=foreign_key_name, value=foreign_insert)
df.insert(loc=1, column='charge_code_id', value=np.nan)
df.insert(loc=1, column='rni_id', value=np.nan)

# TEMPORARILY FIX ANY NULL VALUES WHICH SHOULD BE ALLOWED
df['birth_country'].mask(df['birth_country'].isnull(), inplace=True)
df['birth_country'].fillna('NOT AVAILABLE', inplace=True)
df['citizenship'].mask(df['citizenship'].isnull(), inplace=True)
df['citizenship'].fillna('NOT AVAILABLE', inplace=True)
df['housing_section'].mask(df['housing_section'].isnull(), inplace=True)
df['housing_section'].fillna('NOT AVAILABLE', inplace=True)
df['housing_block'].mask(df['housing_block'].isnull(), inplace=True)
df['housing_block'].fillna(' ', inplace=True)
df['housing_cell'].mask(df['housing_cell'].isnull(), inplace=True)
df['housing_cell'].fillna('0', inplace=True)
df['marital_status'].mask(df['marital_status'].isnull(), inplace=True)
df['marital_status'].fillna('NOT AVAILABLE', inplace=True)
df['next_court_date'].mask(df['next_court_date'].isnull(), inplace=True)
df['next_court_date'].fillna('1900-01-01', inplace=True)
df['total_bond'].mask(df['total_bond'].isnull(), inplace=True)
df['total_bond'].fillna(0.00, inplace=True)

# HOUSING BLOCK CONTAINS 'Observe' and 'Off'
df['housing_block'].replace(to_replace='Observe', value='O', inplace=True)
df['housing_block'].replace(to_replace='Off', value='O', inplace=True)



# df['total_bond'].fillna('NOT AVAILABLE')

# REMOVE ANY NULL CASE ROWS
df.dropna(subset=['case_num_id'], inplace=True)

In [237]:
def get_table_names() -> list:
    table_names = inspector.get_table_names()
    if 'django_migrations' in table_names:
        table_names.pop(table_names.index('django_migrations'))
    return table_names

get_table_names()

['jc_django_models_jailprofilesnapshot',
 'jc_django_models_case',
 'jc_django_models_charge',
 'jc_django_models_person',
 'jc_django_models_chargecode']

In [238]:
def get_table_info(table) -> dict:
    """
    params: table from db
    returns: dict of {column_name, dtype} of table
    """
    table_info = {}
    for index, value in enumerate(inspector.get_columns(table)):
#         print(*(ele for ele in dir(value['type'])), sep='\n', end='\n\n')
        if value['autoincrement'] != True:
            table_info[value['name']] = value['type']
    return table_info

test_data = get_table_info('jc_django_models_person')
test_data

{'name': VARCHAR(length=100),
 'dob': DATE(),
 'race': VARCHAR(length=100),
 'ethnicity': VARCHAR(length=100),
 'birth_country': VARCHAR(length=100),
 'citizenship': VARCHAR(length=100),
 'rni': INTEGER(),
 'sex': VARCHAR(length=100)}

In [239]:
def remove_autoincrement(table, inspector) -> str:
    for index, value in enumerate(inspector.get_columns(table)):
        if value['autoincrement'] != True:
            table_info[value['name']] = value['type']

In [240]:
table_names_test = get_table_names()
charge_info_test = get_table_info(table_names_test[0])

print(*(name for name in charge_info_test.keys()), sep='\n')

jail_id
commitment_date
scrape_date
total_bond
marital_status
housing_section
housing_block
housing_cell
facility
next_court_date
rni_id

In [241]:
charge_info = get_table_info('jc_django_models_person')
cols = []
for key in charge_info.keys():
    cols.append(key)
cols

['name',
 'dob',
 'race',
 'ethnicity',
 'birth_country',
 'citizenship',
 'rni',
 'sex']

In [242]:
print(*(col for col in df.columns), sep='\n')

name
degree
charge_type
tca
dob
sex
rni
jail_id
state_id
commitment_date
scrape_date
total_bond
held_without_bond
complexion
race
ethnicity
marital_status
citizenship
birth_country
housing_section
housing_block
housing_cell
facility
next_court_date
case_num_id
active_case
offense_date
charge_code
charge_name
grade
bond_amt
bond_type
bond_status
bond_post_date

In [243]:
person_filter = df.filter(items=charge_info.keys())
person_filter

,name,dob,race,ethnicity,birth_country,citizenship,rni,sex
0,"ABRAM, OCTAVIOUS",1999-07-02 00:00:00.000000,Black,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,494778,M
1,"ABRAM, OCTAVIOUS",1999-07-02 00:00:00.000000,Black,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,494778,M
2,"ABRAM, OCTAVIOUS",1999-07-02 00:00:00.000000,Black,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,494778,M
3,"ABRAM, OCTAVIOUS",1999-07-02 00:00:00.000000,Black,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,494778,M
4,"ABRAM, OCTAVIOUS",1999-07-02 00:00:00.000000,Black,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,494778,M
...,...,...,...,...,...,...,...,...
5,"ZAZUETA, LAURA YASMIN",1996-04-22 00:00:00.000000,White,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,468380,F
6,"ZAZUETA, LAURA YASMIN",1996-04-22 00:00:00.000000,White,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,468380,F
0,"ZEB, HAKEEM",1996-05-14 00:00:00.000000,Black,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,514476,M
1,"ZEB, HAKEEM",1996-05-14 00:00:00.000000,Black,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,514476,M
2,"ZEB, HAKEEM",1996-05-14 00:00:00.000000,Black,Non-Hispanic or Latino,UNITED STATES,UNITED STATES,514476,M

In [255]:
def db_upload(table: str, scrape_df, foreign_insert=None, foreign_key_name=None):
    print(f'Table: {table}')
    charge_info = get_table_info(table)
    table_entry = pd.DataFrame(scrape_df.filter(items=charge_info.keys()), columns=charge_info)
    
    # Handle duplicate RNIs for person table
    if table == 'jc_django_models_person':
        table_entry.drop_duplicates(subset='rni', keep='first', inplace=True)
    
    if foreign_insert is not None:
        table_entry[foreign_key_name].fillna(foreign_insert, inplace=True)

    table_entry.to_sql(table, engine, if_exists='append', index=False, dtype=charge_info)

In [272]:
hold = pd.DataFrame(pd.read_sql_table('jc_django_models_person', engine, columns=['id']))
hold.squeeze()
print(hold)

        id
0        1
1        2
2        3
3        4
4        5
...    ...
1995  1996
1996  1997
1997  1998
1998  1999
1999  2000

[2000 rows x 1 columns]

In [248]:
db_table_names = get_table_names()

db_table_names = {
    'jc_django_models_person',
    'jc_django_models_jailprofilesnapshot',
    'jc_django_models_case',
    'jc_django_models_charge', # must come before _chargecode
    'jc_django_models_chargecode',
}

In [296]:
with engine.begin() as connection:
    db_upload('jc_django_models_person', df)
    
    foreign_key = pd.DataFrame(pd.read_sql_table('jc_django_models_person', engine, columns=['id']))
    db_upload('jc_django_models_jailprofilesnapshot', df, foreign_key.squeeze(), 'rni_id')

    db_upload('jc_django_models_case', df)
    db_upload('jc_django_models_person', df)
    db_upload('jc_django_models_charge', df)

    # Handle error around setting charge_code_id: (1) grab charge_code_id column
    foreign_key = pd.DataFrame(pd.read_sql_table('jc_django_models_charge', engine, columns=['id']))
    # Handle error around setting charge_code_id: (2) insert charge_code_id column into charge table
    # Handle error around setting charge_code_id: (3) upload charge data to db
    db_upload('jc_django_models_chargecode', df, foreign_key, 'charge_code_id')

Table: jc_django_models_person
Table: jc_django_models_jailprofilesnapshot
Table: jc_django_models_case

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "case_num" violates not-null constraint
DETAIL:  Failing row contains (1, null, null, null, null, null).

[SQL: INSERT INTO jc_django_models_case (case_num, bond_type, bond_status, bond_amt, jail_id_id) VALUES (%(case_num)s, %(bond_type)s, %(bond_status)s, %(bond_amt)s, %(jail_id_id)s)]
[parameters: ({'case_num': None, 'bond_type': None, 'bond_status': None, 'bond_amt': None, 'jail_id_id': None}, {'case_num': None, 'bond_type': None, 'bond_status': None, 'bond_amt': None, 'jail_id_id': None}, {'case_num': None, 'bond_type': None, 'bond_status': None, 'bond_amt': None, 'jail_id_id': None}, {'case_num': None, 'bond_type': None, 'bond_status': None, 'bond_amt': None, 'jail_id_id': None}, {'case_num': None, 'bond_type': None, 'bond_status': None, 'bond_amt': None, 'jail_id_id': None}, {'case_num': None, 'bond_type': None, 'bond_status': None, 'bond_amt': None, 'jail_id_id': None}, {'case_num': None, 'bond_type': None, 'bond_status': None, 'bond_amt': None, 'jail_id_id': None}, {'case_num': None, 'bond_type': None, 'bond_status': None, 'bond_amt': None, 'jail_id_id': None}  ... displaying 10 of 18870 total bound parameter sets ...  {'case_num': None, 'bond_type': 'Bond Assessed - Courts', 'bond_status': 'Open', 'bond_amt': 5000000.0, 'jail_id_id': None}, {'case_num': None, 'bond_type': 'Bond Assessed - Courts', 'bond_status': 'Open', 'bond_amt': 5000000.0, 'jail_id_id': None})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)